{
  "presets": [
    "es2015",  // babel-preset-es2015
  ],

  "plugins": [
    // babel-plugin-resolver
    // nodeで実行したときにパスを解決するために必要
    ["resolver", { "resolveDirs": ["app/assets/javascripts"] }]
  ],

  "compact": false,

  "ignore": [ "node_modules"],

  "env": {
    "test": {
      "presets": [
        // babel-preset-power-assert
        // power-assert用変換
        "babel-preset-power-assert"
      ],

      "plugins": [
        // babel-plugin-istanbul
        // カバレッジ用のinstruments追加
        ["istanbul", {
          "exclude": [ "spec/**/*.js" ]
        }]
      ]
    }
  }
}
